@import "_common-vars"
@import "components/_mixins"

.wpgen-popup, .button-wpgen
	position: fixed
	top: 0
	z-index: 999

.admin-bar
	.wpgen-popup, .button-wpgen
		top: 32px

.wpgen-popup
	right: 0
	max-width: 220px
	max-height: 100vh
	overflow-y: scroll
	overflow-x: visibility
	transition: $transition
	&[data-opener="off"]
		transform: translateX(100%)
	&[data-opener="on"]
		transform: translateX(0)

.button-wpgen
	&[data-opener="off"]
		right: 0
	&[data-opener="on"]
		right: 220px

.wpgen-form
	position: relative
	overflow: visibility
	&::after
		@include pseudo( $left: auto, $right: 0, $width: 50%, $background: $primary-bg-color )
		border: $elem-bd-width solid $elem-bd-color
		z-index: -1

.form-option
	position: relative
	.selector
		margin-left: .75rem

.selector
	margin-bottom: 0

.lock
	position: absolute
	top: 50%
	left: -.75rem
	transform: translateY(-50%)
	height: 1rem
	width: 1rem
	cursor: pointer
	&-on
		background: url( ../img/icons/fa-regular.svg#lock-open ) center/cover no-repeat
	&-off
		background: url( ../img/icons/fa-regular.svg#lock ) center/cover no-repeat
