@import "_common-vars"

.wpgen-popup
	position: fixed
	top: 32px
	right: 0
	z-index: 999

body
	overflow: visibility

.wpgen-popup
	max-width: 220px
	max-height: 100vh
	overflow-y: scroll
	overflow-x: visibility
	transition: $transition
	&[data-opener="off"]
		transform: translateX(100%)
	&[data-opener="on"]
		transform: translateX(0)

.theme_white
	.wpgen-popup
		background: $white-color

.theme_light
	.wpgen-popup
		background: $bg-color-lighten

.theme_dark
	.wpgen-popup
		background: $bg-color-darken

.theme_black
	.wpgen-popup
		background: $text-color

.wpgen-form
	position: relative
	overflow: visibility

.button-wpgen
	position: fixed
	top: 32px
	&[data-opener="off"]
		right: 0
	&[data-opener="on"]
		right: 220px

.form-option
	position: relative
	.selector
		margin-left: .75rem

.selector
	margin-bottom: 0

.lock
	position: absolute
	top: 50%
	left: -.75rem
	transform: translateY(-50%)
	height: 1rem
	width: 1rem
	cursor: pointer
	&-on
		background: url( ../img/icons/fa-regular.svg#lock-open ) center/cover no-repeat
	&-off
		background: url( ../img/icons/fa-regular.svg#lock ) center/cover no-repeat
