.comments-area
	ol.comments-list, ul.children
		padding-left: 0
		list-style-type: none
	ul.children
		margin-left: $margin*2
	.comment-body
		padding: $padding
		background-color: $gray-color-light
		margin-bottom: 1rem
		&.comment-body-avatars
			position: relative
			padding-left: 90px
			.comment-author-avatar
				position: absolute
				top: $margin
				left: $margin
				.avatar
					border-radius: $border-radius
		.entry__meta
			margin-bottom: 0
		.comment-meta, .comment-content
			margin-bottom: $gutter*2
		.comment-content
			font-size: $small-font-size
			p:last-child
				margin-bottom: 0
		.comment-reply-link
			text-transform: uppercase
			font-size: 12px
			color: $gray-color-dark

.comment
	position: relative
	padding: $elem-padding
	border: $border-light-gray-color
	border-radius: $elem-bd-radius
	&-meta
		position: relative
		padding-left: 65px
		&__avatar
			position: absolute
			top: 0
			left: 0
		&__title
			font-size: $h6
		&__content
			> *
				display: block
				margin-bottom: 0
			> *:not(:last-child)
		&__list
			@extend .list-inline
			font-size: $small-font-size


.comment-respond
	.logged-in-as, .comment-form-comment, .comment-form-comment label
		display: block
		margin-bottom: 1rem

.comment-form
	margin-bottom: 2rem
	textarea
		max-width: 100%
