.post-navigation, .posts-navigation
	margin-bottom: 2rem
	&__item_first
		text-align: left
	&__item_last
		text-align: right

.post-navigation
	&__item
		a
			display: block
			padding: $padding
			color: $text-color
			background-color: $gray-color-light
			&:hover, &:focus, &:active
				background-color: $primary-color
	.entry__title, .entry__post-date
		display: block
	.entry__post-date
		color: $gray-color-dark
		font-size: $small-font-size

.posts-navigation
	&__item
		margin-bottom: $gutter
		overflow: hidden
		&:not(:last-child)
			margin-right: $gutter*2
		&_first, &_last
			color: transparent
			&:hover, &:focus, &:active
				color: transparent